* {
  margin: none;
  padding: none;
  box-sizing: border-box;
}

body {
  background: url(./imgs/1.jpg);
  background-position: center/center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 90vw;
}

.hidden {
  display: none;
}

.footer {
  bottom: 3%;
  left: 35%;
  position: fixed;
}

#deal-btn,
#hit-btn,
#stand-btn,
#surrender-btn,
#double-btn {
  height: 90px;
  width: 60px;
  border-radius: 10px;
}

#deal-btn {
  background: url(./imgs/deal.jpg) no-repeat center;
}

#hit-btn {
  background: url(./imgs/hit.jpg) no-repeat center;
  margin: auto;
}

#stand-btn {
  background: url(./imgs/stand.jpg) no-repeat center;
  margin: auto;
}

#surrender-btn {
  background: url(./imgs/surrender.jpg) no-repeat center;
  margin: auto;
  width: 85px;
}

#double-btn {
  background: url(./imgs/double.jpg) no-repeat center;
  margin: auto;
}

#total-bet,
#total-win {
  width: 65px;
  background-color: #333;
  border-radius: 8px;
  text-align: center;
  color: darkorange;
  border: none;
  height: 30px;
}

#beting {
  margin-left: 27%;
  margin-top: 9.2%;

  /* top: 17.2%;
  left: 24.8%;
  position: fixed; */
}

#total-win {
  margin-left: 53px;
}

#dealer-side,
#player-side {
  text-align: center;
  /* margin: auto; */
}

#dealer-side {
  /* margin-top: 12%; */
}

img {
  width: 10%;
  padding-top: 15px;
}

#game-buttons,
#result-window {
  text-align: center;
}

h4,
h2 {
  margin-top: 10px;
  margin-bottom: 0;
}

#result-window {
  /* display: grid; */
  height: 600px;
  width: 700px;
  margin: auto;
  background: green;
  border-radius: 30px;
  margin-top: 20px;
}

#start-game {
  height: 40px;
  width: 200px;
  margin: auto;
  border-radius: 15px;
  border: hidden;
  background: blueviolet;
  color: #f4f4f4;
  margin-top: 50px;
  cursor: pointer;
}

#start-game:hover {
  color: greenyellow;
  background: rgb(96, 3, 182);
}
