* {
  margin: none;
  padding: none;
  box-sizing: border-box;
}

body {
  background: url(./imgs/1.jpg) no-repeat;
  background-position: center/center;
  background-size: cover;
  height: auto;
}

.hidden {
  display: none;
}

.footer {
  bottom: 45%;
  left: 70%;
  position: fixed;
}

#deal-btn,
#hit-btn,
#stand-btn,
#surrender-btn,
#double-btn {
  height: 90px;
  width: 60px;
  border-radius: 10px;
  background-position: cover;
}

#deal-btn {
  background: url(./imgs/deal.jpg) no-repeat center;
}

#hit-btn {
  background: url(./imgs/hit.jpg) no-repeat center;
}

#stand-btn {
  background: url(./imgs/stand.jpg) no-repeat center;
}

#surrender-btn {
  background: url(./imgs/surrender.jpg) no-repeat center;
  width: 85px;
}

#double-btn {
  background: url(./imgs/double.jpg) no-repeat center;
}

#total-bet,
#total-win {
  width: 4.5%;
  height: 30px;
  background-color: #333;
  border-radius: 8px;
  text-align: center;
  color: darkorange;
  border: none;
}

#beting {
  margin-left: 24.6%;
  margin-top: 8.4%;
}

#total-win {
  margin-left: 53px;
}

#dealer-side,
#player-side {
  text-align: center;
}

img {
  width: 10%;
}

#player-side img,
#dealer-side img {
  margin: -3.5%;
  margin-top: 0px;
  height: 100%;
}

#game-buttons,
#result-window {
  text-align: center;
}

h4,
h2 {
  margin-top: 10px;
  margin-bottom: 0;
}

#result-window {
  height: 100%;
  width: 40%;
  margin: auto;
  background: url(./imgs/unsplash-2.jfif) no-repeat center;
  background-size: cover;
  border-radius: 5%;
  margin-top: 1%;
  /* color: rgb(226, 43, 58); */
  color: blueviolet;
}

.status-cards-imgs {
  padding-top: 10px;
  width: 13%;
}

#start-game {
  height: 40px;
  width: 25%;
  margin: auto;
  border-radius: 15px;
  border: hidden;
  background: blueviolet;
  color: #f4f4f4;
  margin: 40px 0px;
  cursor: pointer;
}

#start-game:hover {
  color: greenyellow;
  background: rgb(96, 3, 182);
}
